In [1]:
import pandas as pd

url = "https://en.wikipedia.org/wiki/FIFA_World_Cup"
tables = pd.read_html(url)
print(f"총 {len(tables)}개의 테이블이 추출됨")

총 40개의 테이블이 추출됨

In [3]:
for i in range(min(3, len(tables))):
    print(f"\n[테이블 {i}]")
    display(tables[i].head())

[테이블 0]

                 0                          1
0              NaN                        NaN
1  Organising body                       FIFA
2          Founded         1930; 95 years ago
3           Region              International
4  Number of teams  32 (48 from 2026 onwards)

[테이블 1]

                                                   0
0                   Argentina, the current champions
1                                        Tournaments
2  1930 1934 1938 1950 1954 1958 1962 1966 1970 1...

[테이블 2]

,Confederation,Times hosted,Hosts,Upcoming hosts
0,UEFA (Europe),11,"1934, Italy; 1938, France, 1954, Switzerland; ...","2030, Spain & Portugal"
1,CONMEBOL (South America),5,"1930, Uruguay; 1950, Brazil; 1962, Chile; 1978...",NaN
2,CONCACAF (North and Central America and Caribb...,3,"1970, Mexico; 1986, Mexico; 1994, United States","2026, Canada, Mexico & United States"
3,AFC (Asia),2,"2002, South Korea & Japan; 2022, Qatar","2034, Saudi Arabia"
4,CAF (Africa),1,"2010, South Africa","2030, Morocco"

In [5]:
df = tables[1]
df.head()

                                                   0
0                   Argentina, the current champions
1                                        Tournaments
2  1930 1934 1938 1950 1954 1958 1962 1966 1970 1...